<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webhook Demo</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Webhooks</h1>
        <div id="data-container">
            <h2>Received Webhook Data:</h2>
            <div id="webhook-data"></div>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
